# API
PORT=8070
ENV=production
DB_HOST=localhost
DB_PORT=5432
DB_USER=aurionuser
DB_PASSWORD=AURION_DB_PASSWORD
DB_NAME=auriondb
DB_SSLMODE=disable
JWT_SECRET=AURION_JWT_SECRET
INTERNAL_SECRET=AURION_API_INTERNAL_SECRET
LDAP_URL="ldap://127.0.0.1:3890"
LDAP_BASE_DN="ou=people,dc=DOMAIN,dc=DOMAIN"
LDAP_USER_ATTR="uid"
ALLOWED_ORIGINS=https://web.DOMAIN,https://pad.DOMAIN,https://sand.DOMAIN
# WEBMAIL BULWARK
OAUTH_ENABLED=true
OAUTH_ONLY=true
OAUTH_CLIENT_ID=stalwart
OAUTH_CLIENT_SECRET=SECRET_BULWARK_SSO
OAUTH_ISSUER_URL=https://oauth.DOMAIN_REPLACE_ME
# No env values for autoSsoEnabled

# SSO
PORT=3030
BASE_URL=https://sso.DOMAIN
HYDRA_ADMIN_URL=http://localhost:4445
# Only used in paid version of Ory Hydra
ORY_API_KEY=YOUR_API_KEY
LDAP_URL=ldap://127.0.0.1:3890
LDAP_USER_DN_PATTERN=uid={username},ou=people,dc=DOMAINSTART,dc=DOMAINEND
WEBMAIL_DOMAIN_WP=https://web.DOMAIN
CRYPTPAD_DOMAIN_WP=https://pad.DOMAIN
CORE_API_URL=https://api.DOMAIN
CORE_API_INTERNAL_SECRET=AURION_API_INTERNAL_SECRET
