# ==============================================================================
# 1. MANDATORY PARAMETERS
# ==============================================================================

# Main domain name for the services (used for SSO, LDAP, etc.)
DOMAIN=aurionmail.org

# Root directory for persistent storage
DATA_DIR=/var/lib/aurion

# Secrets of security for inter-services
AURION_JWT_SECRET=chaine_secrete_jwt_tres_longue_et_securisee
AURION_API_INTERNAL_SECRET=chaine_secrete_interne_api_tres_longue
HYDRA_SYSTEM_SECRET=chaine_secrete_systeme_hydra_32_caracteres_min
HYDRA_PAIRWISE_SALT=chaine_secrete_salt_hydra_32_caracteres_min

# Secrets of clients OAuth (SSO)
CRYPTPAD_OAUTH_CLIENT_SECRET=secret_oauth_cryptpad_prod
WEBMAIL_OAUTH_CLIENT_SECRET=secret_oauth_webmail_prod
# Databse secrets
AURION_POSTGRES_PASSWORD='cool_secret'
HYDRA_POSTGRES_PASSWORD='another_cool_secret'
# SSO OPAQUE SECRET, you can't use the generator you want, such a secret has constraints. Generate it with npx @serenity-kit/opaque@latest create-server-setup
OPAQUE_SECRET='QcHqVTRjuUfuM8Hlu6Zp6fd8WMDPYdDWekOh4flxWfHBpGTcyn1pS1TCEZNJ5wJ-mXYZjb539WJ9ShzGjyh2BMjhhl8WAOu_qkQ-o1_DX-_22g2Z7UEu1aGDs4-ZaG8LZgLGu41u3XOS9wF12EX0iJU1uzKGo1b-g50ZY4g7hQg'

# ==============================================================================
# 2. FACULTATIVE PARAMETERS
# ==============================================================================

# --- Orchestrator ---
ORCHESTRATOR_HOST=0.0.0.0
ORCHESTRATOR_PORT=8090

# --- PostgreSQL (Core API) ---
AURION_POSTGRES_HOST=postgres
# AURION_POSTGRES_PORT=5432
# AURION_POSTGRES_USER=aurionuser
# AURION_POSTGRES_DB=auriondb
# AURION_POSTGRES_SSLMODE=disable
# CORE_API_DATABASE_URL=postgres://aurionuser:AURION_DB_PASSWORD@localhost:5432/auriondb?sslmode=disable

# ---  PostgreSQL (Ory Hydra) ---
HYDRA_POSTGRES_HOST=postgres
# HYDRA_POSTGRES_PORT=5432
# HYDRA_POSTGRES_USER=hydra
# HYDRA_POSTGRES_DB=hydra
# HYDRA_POSTGRES_SSLMODE=disable

# --- LDAP ---
# Calculé automatiquement : ou=people,dc=aurionmail,dc=org
# LDAP_BASE_DN=ou=people,dc=aurionmail,dc=org
LDAP_URL=ldap://host.docker.internal:3890
# LDAP_USER_ATTR=uid
# LDAP_USER_DN_PATTERN=uid={username},ou=people,dc=aurionmail,dc=org

# --- Clients OAuth ---
# CRYPTPAD_OAUTH_CLIENT_ID=cryptpad
# WEBMAIL_OAUTH_CLIENT_ID=stalwart
# WEBMAIL_OAUTH_ISSUER_URL=https://oauth.aurionmail.org

# --- URLs & Services Tiers ---
# HYDRA_ADMIN_URL=http://127.0.0.1:4445
# ORY_API_KEY=
# ALLOWED_ORIGINS=https://web.aurionmail.org,https://pad.aurionmail.org,https://sand.aurionmail.org